html {

    height: 100%;
    background: url(../images/background.jpg) no-repeat center fixed;
    background-size: cover;
}

body {
    color: black;
    font-size: 30px;

}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    margin: 0px 0px;
}

h2 {
    font-size: 30px;
    margin: 20px 0px;
}

main {
    max-width: 720px;
    background-color: white;
    margin:auto;
}
.container {
    position: relative;
    padding: 20px;
}

.hero {
 /*   border: 1px solid; */
}

.title {
    float: right;
    width:30%;
}

.hide {
    display:none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}