html {

    height: 100%;
    background: url(../images/background.jpg) no-repeat center fixed;
    background-size: cover;
}

body {
    color: black;
    font-size: 36px;

}

* {
    box-sizing: border-box;
}


/*
h1 {
    font-size: 36px;
    margin: 0px 0px;
}

h2 {
    font-size: 30px;
    margin: 20px 0px;
}
*/

main {
    max-width: 720px;
    background-color: white;
    margin:auto;
}

button {
    padding: 40px 80px;
}

.container {
    position: relative;
    padding: 20px;
}

.debug {
    border: 1px solid; 
}

.title {
width: 100%;
text-align: center;
}

.hide {
    display:none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}